.parent {
display: grid;
grid-template-columns: 1fr 2fr 1fr;
grid-template-rows: 1fr 2fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.top { grid-area: 1 / 2 / 2 / 3; }
.bottom { grid-area: 2 / 2 / 3 / 3; }